/* font_family */
@font-face {
  font-family: semiBold-font;
  src: url(../font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: medium-font;
  src: url(../font/Poppins-Medium.ttf);
}
@font-face {
  font-family: bold-fond;
  src: url(../font/Poppins-Bold.ttf);
}
@font-face {
  font-family: regular-fond;
  src: url(../font/Poppins-Regular.ttf);
}

/* font_family */
  /* hover */
  img:hover {
    transform: scale(1.1);
  }
  button:hover {
    transform: scale(1.1);
  }
  /* hover */
  /* navbar_sec */
  .navbar_sec{
    left: 0;
    top: 0;
    width: 100%;
    background: #FFFFFF;
    position: fixed;
    z-index: 9;
  }
  .language{
    font-family: semiBold-font;
    color: #000000;
    font-size: 1.125rem;
  }
  .nav_user_name{
    font-family: semiBold-font;
    color: #000000;
    font-size: 1rem;
  }
  .nav_input input {
    /* background: #FFFFFF; */
    /* color: #666666; */
    border-radius: 4px;
    color: #514747;
    background: #F0F0F0;
    font-size: 0.875rem;
    font-family: regular-fond;
  }

/* banner-section */
.banner_sec{
  height: 560px;
  background: linear-gradient( rgb(0 0 0 / 24%), rgb(0 0 0 / 24%) ), url('../images/2856828.png');  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.banner_sec img:hover {
  transform:none;
}

.banner_title{
  color: #FFFFFF;
  font-family: semiBold-font;
}

.banner_input input {
  /* background: #FFFFFF; */
  border-radius: 6px;
  color: #666666;
  font-size: 1rem;
  font-family: regular-fond;
}
.banner_search_btn{
  border-radius: 6px;
}
.bengaluru_btn {
  background: #1A54B0;
  font-size: 1rem;
  border-radius: 6px;
  text-align: center;
  font-family: semibold-font;
  color: #ffffff;
}
.bengaluru_btn_dropdown{
  /* border: 2px solid #FFFFFF; */
  /* color: #FFFFFF; */
}

/* banner section */

/* What are you looking for? */

.main_heading{
  color: #000000;
  font-family: bold-fond;
}
.looking_for_card_1{
  background: #A485BE;
  border-radius: 6px;
}
.looking_for_card_2{
  background: #89CCAB;
  border-radius: 6px;
}

.looking_for_card_3{
  background: #F79384;
  border-radius: 6px;
}
.card_heading{
  color: #FFFFFF;
  font-family: bold-fond;
}
.card_btn{
  /* border: 1px solid #FFFFFF; */
  /* border-radius: 6px; */
  /* color: #FFFFFF; */
  font-size: 0.875rem;
  font-family: bold-fond;
}
/* What are you looking for? */

/* What kind of doctor do you need ? */

.doctor_need_heading{
  color: #666666;
  font-size: 1.125rem;
  font-family: regular-fond;
}
.doctor_need_img img{
  width: 100%;
  object-fit: contain;
}
.doctor_need_description{
  color: #1A54B0;
  font-size: 1.125rem;
  font-family: bold-fond;
}
/* What kind of doctor do you need ? */

/* How It Works */
.how_it_works_bg{
  background: #F8F8F8;
}
.how_it_works_img {
  width: 100%;
  text-align: center;
  object-fit: contain;
}
.how_it_works_sub_heading {
  color: #000000;
  font-size: 1.25rem;
  font-family: bold-fond;
}
.how_it_works_description {
  color: #514747;
  font-size: 1rem;
  font-family: regular-fond;
}
/* How It Works */
/* how_it_works_border */

.how_it_works_border {
  top: 235px;
  position: absolute;
}
.how_it_works_border_left_img {
  margin-left: 250px;
}
.how_it_works_border_right_img {
  margin-left: 100px;
}

/* how_it_works_border */
/* Cities we Operated */

.cities_operated_sec_bg{
  background: #F8F8F8;
}
.cities_info{
  color: #666666;
  font-size: 1rem;
  font-family: regular-fond;
}
/* Cities we Operated */
/* Our Customers Say the Nicest Things */
.nicest_things_heading{
  color: #000000;
  font-family: semiBold-font;
  font-size: 1.25rem;
}
.nicest_things_text{
  color: #666666;
  font-size: 1rem;
  font-family: regular-fond;
}
.nicest_things_card{
  background: #F6F5F5;
  border-radius: 6px;
  opacity: 1;
}
.nicest_things_hr{
  border: 1px dashed #B5AFAF;
}
.nicest_things_bottom h5{
  color: #000000;
  font-size: 1.125rem;
  font-family: bold-fond;
}
.nicest_things_bottom p{
  color: #000000;
  font-size: 1rem;
  font-family: regular-fond;
}
.nicest_heart{
  padding: 1px;
  background-color: white;
  /* background-color: #F6F5F5; */
  opacity: 1;
  border-radius: 15px;
  margin-right: 20px;
  /* position: relative; */
  margin-left: -10px;
  margin-top: -45px;
}
.nicest_heart img{
  position: absolute;
}
/* Our Customers Say the Nicest Things */
  /* Cities we Operated */
  .cities_operated_sec{
    margin-top: 80px;
    background: #FFFFFF
  }
  .cities_operated_sec_heading{
    color: #000000;
    text-align: center;
    font-size: 2.25rem;
    /* font-family: ; */
  }
  /* Cities we Operated */
  /* footer */

.footer_bg{
  background: #212121 ;
  opacity: 1;
}
.footer_text{
  color: #FFFFFF;
  font-family: semiBold-font;
  font-size: 1rem;
}
.footer_hr{
  border: 1px solid #FFFFFF;
  opacity: 0.21;
  /* color: #FFFFFF; */
}
.copyright_text{
  color: #FFFFFF;
  font-size: 1rem;
  font-family: regular-fond;
}
/* footer */

.how_it_works_hr {
  border: 1px dashed #B5AFAF;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 320px) {  
  .banner_title {font-size: 2rem;}
  .main_heading{font-size: 1.70rem;}
  .card_heading{font-size: 1.20rem;}
  .banner_input input{
    padding-top: 7px;
    padding-bottom: 7px;
    
  }
  .search_img{
    width: 18px;
  }
  .center_item{
    text-align: center;
  }
  .social_left_img{
    text-align: center;
  }
  .social_right_img{
    text-align: center;
  }
  .loved_customers{
    margin-top: 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .banner_title {font-size: 3rem;}
  .main_heading {font-size: 2.25rem;}
  .card_heading{font-size: 1.75rem;}
  .search_img{
    width: 25px;
  }
  .banner_input input{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .social_left_img{
    text-align: left;
  }
  .social_right_img{
    text-align: right;
  }
  .loved_customers{
    margin-top: 30px;
  }
}

/* carousel */
.carousel {
  position: relative;
}
ul.carousel-indicators {
  position: absolute;
  bottom: -25px;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}
ul.carousel-indicators li,
ul.carousel-indicators li.active {
  width: 2px;
  padding: 7px;
  margin: 0;
  border-radius: 20px;
  border: 0;
  background: #CECECE;
  margin-right: 5px;
}
ul.carousel-indicators li.active {
  background: #1A54B0;
}

/* carousel */
